# Files to be ignored
.DS_Store
src/test_main.ipynb

# Directories to be ignored
pyspark_fmcg/
src/__pycache__/
src/.ipynb_checkpoints/
logs/.ipynb_checkpoints/
test/.DS_Store/
publish/psuedo_fmcg/
publish/encryption_keys/

# Extensions to be ignored
*.pyc
*.DS_Store
.ipynb_checkpoints